.home-background {
  background-image: url("https://res.cloudinary.com/ddat564z1/image/upload/v1662026665/background_bilebx.png");
  background-position: center;
  height: 100vh;
}

.logo-lovebuzz img {
  width: 170px;
  height: 100px;
}

.logo-spotify {
  bottom: 20px;
  img {
   margin: 0 auto;
   margin-bottom: 0px;
   width: 160px;
 }
}
