<% if user_signed_in? %>
    <div data-controller="player" data-player-token-value="BQC6fHivNjR2NjZHH3CwAtC79YUzu1sDK0ys2UogtixyMMCpOi2l4m66WkS0miMKyzwCG4HOfNRK9F57T0px-hROEczqnkxxD-OIxY9UZfRttYSvMtGv1LJYKR5mVZFcgw-iE9sxff7PpzZVy61qT7tQ3Fu6WLexZHQIH-icJ4yWJW1_n9m55A0WNKbQO4ZK" class="currently-playing">
      <%# <div class="icon-spotify"> %>
        <%# <img src="https://res.cloudinary.com/ddat564z1/image/upload/v1662111081/logo-spotify_irugym.png" alt=""> %>
      <%# </div> %>
      <div class="player w-100 d-flex">
        <i class="fa-brands fa-spotify logo-spotify" style="font-size: 40px"></i>
        <div class="song-title-player w-100">
          <span data-player-target="title"> </span> - <span data-player-target="artist"> </span>
        </div>
      </div>
    </div>
  <%# unless @title.nil? && @artist.nil? %>
  <%# end %>
  <div class="footer fixed-bottom">
    <div class="footer-links">
      <%= link_to profil_path(current_user) do %>
       <i class="fa-solid fa-user" style="color:#50555C; opacity:0.5"></i>
      <% end %>
      <%# redirige vers l'index des matches %>
      <%= link_to matches_path do %>
        <i class="fa-solid fa-heart" style="color:#50555C; opacity:0.5"></i>
      <% end %>
      <%# redirige vers ? %>
      <i class="fa-solid fa-bars" style="font-size:40px; color:#50555C; opacity:0.5"></i>
      <%# <i class="fa-solid fa-ellipsis" style="font-size:40px; color:white"></i> %>
    </div>
  </div>
<% end %>
