<% if user_signed_in? %>
  <div class="footer fixed-bottom">
    <div class="footer-links">
      <a href="#"><i class="fa-solid fa-face-smile"></i></a>
      <a href="#"><i class="fa-brands fa-gratipay"></i></a>
      <a href="#"><i class="fa-solid fa-circle-dot"></i></a>
    </div>
  </div>
<% end %>
