<% if user_signed_in? %>
  <div class="footer fixed-bottom">
    <div class="footer-links">
      <%= link_to profil_path(current_user) do %>
       <i class="fa-solid fa-face-smile"></i>
      <% end %>
      <%# redirige vers l'index des matches %>
      <%= link_to matches_path do %>
        <i class="fa-brands fa-gratipay"></i>
      <% end %>
      <%# redirige vers ? %>
      <a href="#"><i class="fa-solid fa-circle-dot"></i></a>
    </div>
  </div>
<% end %>
