<div class="navbar navbar-expand-sm navbar-light navbar-lewagon fixed-top">
  <div class="w-100 row mx-0">
    <div class="col-4 d-flex justify-content-start align-items-center"> <% if action_name == "show" && controller_name == "matches" || action_name == "index" && controller_name == "matches" %>
      <%= link_to 'javascript:history.back()' do %>
        <i class="fa-regular fa-circle-left"></i>
      <% end %>
    <% end %>
    </div>
    <div class="col-4 d-flex justify-content-center">
      <%= link_to home_path, class: "navbar-brand me-0" do %>
        <%= image_tag "https://res.cloudinary.com/ddat564z1/image/upload/v1662473902/logo-refont_vyhbxi.png" %>
      <% end %>
    </div>
    <div class="col-4 d-flex justify-content-end align-items-center"> <% if action_name == "show" && controller_name == "matches" %>
              <%= cl_image_tag current_user.photos.first.key, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
        <% end %>
      </div>
    </div>
  </div>
</div>
