
<div class="end-message" style="color: #696969;">
  <p>You don’t have any<br>
  matches yet ☹️<br>
  Maybe you should listen<br>
  to some other song <br>
  and let the magic happen !!</p>
</div>
<div class="tinder" data-controller="swipe">

  <div class="tinder--cards">
    <% preference = current_user.preference %>
    <%# User.near([current_user.latitude, current_user.longitude], preference.max_distance).to_a.select { |u| u unless u.id == current_user.id }.select{ |u| u if Match.where("(user_1_id = #{current_user.id} AND user_2_id = #{u.id}) OR (user_1_id = #{u.id} AND user_2_id = #{current_user.id} AND status != 'Pending')").first.nil? }.select{ |u| u if u.age >= preference.min_age && u.age <= preference.max_age && u.gender == preference.gender}.each do |user|  %>
  <% User.near([current_user.latitude, current_user.longitude], preference.max_distance).to_a.select { |u| u unless u.id == current_user.id }.select{ |u| u if Match.where("(user_1_id = #{current_user.id} AND user_2_id = #{u.id}) OR (user_1_id = #{u.id} AND user_2_id = #{current_user.id} AND status != 'Pending')").first.nil? }.select{ |u| u if u.age >= preference.min_age && u.age <= preference.max_age && u.gender == preference.gender}.sort_by{ |u| u.id }.each do |user|  %>
      <%= render 'matching_card', user: user %>
    <% end %>
  </div>

  <div class="tinder--buttons pt-5">
    <button id="nope" data-swipe-target="nopeBtn">
      <i class="fa-solid fa-xmark"></i>
    </button>
    <button id="love" data-swipe-target="likeBtn">
      <i class="fa fa-heart"></i>
    </button>
  </div>
  <div data-swipe-target="modalContainer"></div>
</div>
