
<%= link_to profil_path(user), class: 'tinder--card', data: { swipe_target: "card", id: user.id }, style: "background-image: url(#{cl_image_path user.photos.first.key if user.photos.attached? });" do %>
  <div class="tinder--status">
    <i class="fa-solid fa-xmark"></i>
    <i class="fa fa-heart"></i>
  </div>
  <div class="match-infos">
    <h3><%= user.first_name %> <%= user.last_name %></h3>
    <p><%= user.age %> years old</p>
  </div>
<% end %>
<%# </div> %>
