<h1>Sign-up form</h1>

  <form>
    <div class="row">
      <div class="col">
        <input type="text" class="form-control" placeholder="Name">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="Age">
      </div>
          <div class="col">
        <input type="text" class="form-control" placeholder="Size">
      </div>
    </div>
  </form>
  <form>
    <div class="form-row align-items-center">
      <div class="col-auto my-1">
        <label class="mr-sm-2" for="inlineFormCustomSelect">Gender</label>
        <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
          <option selected>Select...</option>
          <option value="1">Male</option>
          <option value="2">Female</option>
          <option value="3">Other</option>
        </select>
      </div>
      <div class="col-auto my-1">
        <label class="mr-sm-2" for="inlineFormCustomSelect">Pronouns</label>
        <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
          <option selected>Select...</option>
          <option value="1">He/Him</option>
          <option value="2">She/Her</option>
          <option value="3">Other</option>
        </select>
      </div>
    </div>
  </form>
  <form>
    <div class="form-row align-items-center">
      <div class="col-auto my-1">
        <label class="mr-sm-2" for="inlineFormCustomSelect">Your Preferences</label>
        <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
          <option selected>Select...</option>
          <option value="1">Male</option>
          <option value="2">Female</option>
          <option value="3">Other</option>
        </select>
      </div>
    </div>
  </form>
