<div class="container">
    <div class="logo-lovebuzz d-flex flex-column align-items-center justify-content-center" style="height: 600px;">
      <div style="height: 200px;"></div>
      <img src="https://res.cloudinary.com/ddat564z1/image/upload/v1662473902/logo-refont_vyhbxi.png" alt="logo lovebuzz" style="width: 270px; height: 150px;">
      <p class="slogan">Be the next <br> Power Couple</p>
    </div>
    <div class="position-absolute bottom-20 start-50 translate-middle logo-spotify">
    <h1 class="connect-with">connect with</h1>
    <% if user_signed_in? %>
      <%= link_to home_path do %>
        <%= image_tag "Spotify_Logo_RGB_Black.png", alt: "spotify link", class: "spotify-png"%>
      <% end %>
    <% else %>
      <%= link_to new_user_session_path do %>
        <%= image_tag "Spotify_Logo_RGB_Black.png", alt: "spotify link", class: "spotify-png"%>
      <% end %>
    <% end %>
    </div>
</div>
