<div class="home-background">
  <div class="container">
    <div class="position-absolute top-50 start-50 translate-middle">
      <img src="https://res.cloudinary.com/ddat564z1/image/upload/v1662033727/logo-02_jj2k5t.png">
    </div>
    <h1>It's a match!</h1>
    <div class="btn-grad">
      <h5 style="color: white;">Send a message</h1>
    </div>
      <a href=""><h5 style="color: white;">Continue swiping</h1></a>
    </div>
  </div>
</div>
