<% @matches.each do |match| %>
  <%= link_to match_path(match) do %>
    <div class="card mb-1">
      <div class="card-body">
        <%= match.interlocutor_of(current_user).full_name %>
      </div>
    </div>
  <% end %>
<% end %>
