.card-match-list {
  overflow: hidden;
  height: 68px;
  background: transparent;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(24, 22, 22, 0.1);
  padding-left: 5px;
}

.card-match-list img {
  width: 56px;
  height: 56px;
  border-radius: 20%;
  object-fit: cover;
  overflow: hidden;
  border: 1px solid $orange;
}

.card-match-list h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-match-list p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-match-list .card-match-list-infos {
  padding: 16px;
}

.titre-conv {
  background: linear-gradient(to right, $jaune 0%, $orange 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bolder;
}
