.custom-wrapper {
  height: calc(100vh - 180px);
}

.overflowy {
  overflow-y: scroll;
}

.footer {
  background: $jaune;
  display: flex;
  height: 96px;
}

.footer-links {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

.footer-links a {
  color: $orange;
  opacity: 1;
  text-decoration: none;
  font-size: 52px;
  padding: 0px 10px;
}
.footer-links a:hover {
  font-size: 55px;
}

.navbar {
  position: unset;
}

.currently-playing {
  background-color: $rouge;
  display: flex;
  height: 53px;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
  position: fixed;
  bottom: 96px;
}


.player {
  font-size: 16px;
  color: white;
  font-weight: lighter;
}
