.custom-wrapper-for-all {
  min-height: calc(100vh - 96px - 96px - 53px);
  margin-bottom: calc(96px + 53px);
}

.footer {
  background: #F5F5F5;
  display: flex;
  height: 96px;
}

.footer-links {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

.footer-links a {
  opacity: 1;
  text-decoration: none;
  font-size: 38px;
}
.footer-links a:hover {
  font-size: 58px;
}

.navbar {
  position: unset;
}

.currently-playing {
  background-color: white;
  display: flex;
  height: 53px;
  width: 90%;
  margin-left: 20px;
  border-radius: 8px;
  align-items: center;
  justify-content: space-evenly;
  position: fixed;
  bottom: 115px;
  border: 1px solid $jaune;
  box-shadow: 0 0 20px rgba(247, 126, 33, 1);
}


.player {
  font-size: 16px;
  color: $noir;
  font-weight: lighter;
  align-items: center;
  padding-left: 10px;
}

.song-title-player {
  text-align: center;
}
