.custom-wrapper-for-all {
  min-height: calc(100vh - 96px - 96px - 53px);
  margin-top: 96px;
  margin-bottom: calc(96px + 53px);
}

.footer {
  background: transparent;
  display: flex;
  height: 96px;
}

.footer-links {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

.footer-links a {
  color: $orange;
  opacity: 1;
  text-decoration: none;
  font-size: 52px;
  padding: 0px 10px;
}
.footer-links a:hover {
  font-size: 55px;
}

.navbar {
  position: unset;
}

.currently-playing {
  background-color: white;
  display: flex;
  height: 53px;
  width: 90%;
  margin-left: 20px;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 96px;
}


.player {
  font-size: 16px;
  color: $noir;
  font-weight: lighter;
}
