.custom-wrapper-for-chat {
  min-height: calc(100vh - 0px);
  overflow: hidden;
}

.nom {
  font-size: 30px;
  background: linear-gradient(to right, $jaune 0%, $orange 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bolder;
}
.message {
  margin-bottom: 8px;
  .message-infos {
    display: flex;
    align-items: center;
    margin: 0 4px;
    font-size: 0.75rem;
    p {
      margin: 0;
      color: black;
    }
  }
  .message-avatar {
    height: 35px;
    width: 35px;
    object-fit: cover;
    object-position: center;
    border: 1px solid $orange;
    border-radius: 20%;
    margin: 0 4px;
  }
  .message-content {
  display: flex;
    p {
      color: white;
      margin: 0;
      padding: 8px 16px;
      border-radius: 8px;
      background: linear-gradient(45deg, $jaune 0%, $orange 100%);
    }
  }
}

.send-button {
  border: none;
  border-radius: 0px 8px 8px 0px;
  padding: 0px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  background: linear-gradient(45deg, #DF04B5 0%, $rouge 100%);
  color: black;
}

.input-group {
  position: fixed;
}


 .form-control {
  border-radius: 8px 0px 0px 8px;
  color: $gris;
 }

 .card-chat-match {
  display: block;
 }

.card-chat {
  height: 629px;
  overflow: scroll;
}


  // This is what displays the message on the right
.message.sender {
  .message-infos {
    flex-direction: row-reverse;
  }
  .message-content {
    flex-direction: row-reverse;
    p {
      background: linear-gradient(45deg, #DF04B5 0%, $rouge 100%);
      color: black;
    }
  }
}
