.navbar-lewagon {
  background: $jaune;
  border-radius: 0px 0px 8px 8px;
  height: 96px;
}

.navbar-lewagon .navbar-brand img {
  width: 65px;
}

.navbar-nav .dropdown-menu {
  position: absolute;
}

.dropdown-item {
  color: $gris;
}
