.navbar-lewagon {
  background: white;
  border-radius: 0px 0px 8px 8px;
  height: 60px;
  position: fixed;
  box-shadow: 0px 1px 5px #DBDBD9;
}

.navbar-lewagon .navbar-brand img {
  padding-top: 10%;
  width: 69px;
}

.navbar-nav .dropdown-menu {
  position: absolute;
}

.fa-regular.fa-circle-left {
    background: linear-gradient(to right, $jaune 0%, $orange 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 35px;
}
